@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background: url(mateo-nCU4yq5xDEQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}
.box{
	width: 500px;
	background: rgba(20,20,20,.4);
	margin: 0 auto;
	margin-top: 4%;
	padding: 20px;
	margin-bottom: 20px;
	color:white;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 0 5px;
}
.box-img{
	border-radius: 50px;
}
.box h1{
	font-size: 31px;
	letter-spacing: 4px;
	font-weight: 100;
	margin: 30px 0 20px;
	font-family: 'Fruktur', cursive;
}
.box h2{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
	margin-bottom: 20px;
	font-family: 'Irish Grover', cursive;
}
.box p{
	text-align: justify-all;
	font-family: 'Crimson Text', serif;
	margin-top: -15px;
}
.box p::selection{
	color: aqua;
}
.box h2::selection{
	color: aqua;
}
.box h1::selection{
	color: aqua;
}
.box ul{
	list-style: none;
	margin-top: 20px;
}
.box ul li{
	display: inline;
}
.box ul li a{
	color: white;
	font-size: 47px;
	padding-left: 10px ;
	display: inline-block;
	transition: all 0.5s ease-in-out;

}
.box ul li a:hover{
	transform: scale(1.2);
	color:#666;
}
@media (max-width: 600px){
	html{
		background: url(fabian-albert-uwL_JvIhtLM-unsplash.jpg);
		background-size: cover;
	}
}
